# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Idea
.idea

# Generated types
src/types.d.ts

# Graphql introspection schema
src/introspectionSchema.json

# Local settings
src/settings.ts

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
